---
layout: default
---

<div class="home">
  
  <h1 class="page-heading">📷 Instagram
    <a class="link instagram-link" target="_blank" href="https://www.instagram.com/bestk1ngarthur/">See profile</a>
  </h1>
  <!-- https://lightwidget.com -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3bdc2961887d5a30838ab1d503e36bd8.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

  </br></br>
  <h1 class="page-heading">📝 Blog</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-category">
          {% assign category = post.categories.first %}
          {% if category == "home-assistant" %}
            {{ "🏠" }}
          {% endif %}
          {% if category == "travel" %}
            {{ "🧳" }}
          {% endif %}
          {% if category == "iOS" %}
            {{ "📱" }}
          {% endif %}
           {{ category }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% assign sentences = post.content | split: "." %}
        <p>
        {% for i in (0..5) %}
        {{ sentences[i] }}. 
        {% endfor %}
        </p>

        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          <a class="link more-link" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </span>
      </li>
    {% endfor %}
  </ul>

</div>
