<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.owner_name }}</li>
          <li><p>{{ site.description }}</p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          <p>{{ site.title }} ● 2019</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="horizontal-list">
          {% if site.github_username %}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                <span class="footer-icon icon-github">
                    {% include icon-github.svg %}
                </span>
            </a>
          </li>
          {% endif %}

          {% if site.vk_username %}
          <li>
            <a target="_blank" href="https://vk.com/{{ site.vk_username }}">
                <span class="footer-icon">
                    {% include icon-vk.svg %}
                </span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
                <span class="footer-icon">
                    {% include icon-facebook.svg %}
                </span>
            </a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
                <span class="footer-icon">
                    {% include icon-instagram.svg %}
                </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
