<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.owner_name }}</li>
          <li><p>{{ site.description }}</p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          <p>{{ site.title }} ● 2019</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.vk_username %}
          <li>
            {% include icon-vk.html username=site.vk_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
